# Python
__pycache__/
*.pyc

# Streamlit
.streamlit/secrets.toml

# Excel files
*.xlsx
backup_detalles_*.xlsx

# Environment
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
